/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* root styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #ffffff;
}
img{
    max-height: 250px;
    max-width: 350px;
    border: 2px solid black;
    border-radius: 4px;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
}

/* Header */
header{
    font-family: 'Oswald', sans-serif;
    background-color: #bcafaf;
    position: fixed;
    z-index: 99;
    padding: 0rem 1rem 0.1rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}
header a {
    text-decoration: none;
    color: inherit;
}
ul{
    display: flex;
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
    gap: 10px;
}
li{
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    color: #3a3a3a;
    padding: 1px;
}
li:hover{
    transform: scale(1.1);
    background: rgb(144, 30, 30);
    transition-timing-function: ease; 
    transition-duration: 0.5s;
}
#logo {
    font-size: 150%;
}


/* main */






/* Footer */



/* media query: desktop */
